bert_score==0.3.13
huggingface_hub==0.33.1
langchain==1.0.5
langchain_anthropic==1.0.2
langchain_community==0.4.1
langchain_core==1.0.4
langchain_google_genai==3.0.1
langchain_huggingface==1.0.1
langchain_openai==1.0.2
langchain_text_splitters==1.0.0
numpy==2.3.4
openai==2.7.1
opencv_python==4.9.0.80
opencv_python_headless==4.11.0.86
pandas==2.3.3
pydantic==2.12.4
tiktoken==0.7.0
torch==1.13.1+cu116
tqdm==4.66.6
transformers==4.46.3
typing_extensions==4.15.0
~orch==2.0.1
